//nesting
//sass: syntactically awesome style sheets

//DRY: don't repeat yourself
//KISS: Keep it stupid simple(avoid overly dependent code)

//variable can store any CSS value
@import "utils/variables"
// @import "utils/functions>"
@import "components/navigation"
@import "base/base"

%btn-common
  color: white
  font-size: 20px * 2
  border-radius: 4px
  border: none
  cursor: pointer

%btn-wide
  width: 300 / 800 * 100%

//create a mixin
@mixin h_transform($angle: -5deg)
  transform: rotate($angle)
  -ms-transform: rotate($angle) //ie versions 9 and older
  -moz-transform: rotate($angle) //firefox 3.5 and older
  -webkit-transform: rotate($angle) // safari,chrome,android older versions


article
  div
    h3
      color: $color2
      font-size: 28px
    p
      color: $color3
      font-size: 20px
  div:nth-child(1)
    h3:nth-child(1)
      @include h_transform(-3deg);

div:nth-child(2)
    h3:nth-child(1)
      @include h_transform();

.btn-success
  @extend %btn-common
  @extend %btn-wide
  background-color: lawngreen

.btn-warning
  @extend %btn-common
  background-color: darkorange

.btn-error
  @extend %btn-common
  background-color: red
